<div class="container my-5">
  <div class="card-volunteer">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8">
        <br>
        <h2>Inserir um novo Item </h2>
        <br>
        <p>Preencha os campos abaixo para inserir um novo item para doação à Casa Simeão</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8">
        <div class="form-volunteer-box py-5">
          <%= simple_form_for(@donation) do |f| %>
            <%= f.input :name, label: 'Qual o nome do novo item?', class: "form-group" %>
            <%= f.input :quantity, label: 'Qual a quantidade necessária?', class: "form-group" %>
            <%= f.input :description, label: 'Qual a unidade de medida (litros, unidades, etc) e descrição do item?', class: "form-group" %>
            <%= f.input :donation_tag, as: :select, collection: Donation::TAGS, label: "Qual a natureza desse item?" %>
            <%= f.input :status, label: 'Você precisa desse item esse mês?', class: "form-group" %>
            <%= f.button :submit, "Adicionar item", class: "button-banner" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
